spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-kdnjsccp.us.auth0.com/
  jpa:
    properties:
      hibernate:
        hbm2ddl:
          import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
auth0:
  audience: https://devboards/api